*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    box-sizing: border-box;
    
}
body{
    background: #222;
}
.card{
    width: 90%;
    max-width: 400px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 40px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 16px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    min-width: 40px;
    height: 40px;
    cursor: pointer;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 50px;
    font-weight: 500;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 60px;

}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 25px;
}

.city{
    margin-top: 10px;
    font-size: 30px;
    font-weight: 200;
}
p{
    font-size: 14px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 15px;
    display: none;
}
.search button:hover {
    background: #d1f5f0;
    transform: scale(1.05);
    transition: 0.3s;
}


@media (max-width: 500px) {
    .card {
        padding: 20px 15px;
    }
    .weather h1 {
        font-size: 40px;
    }
    .city {
        font-size: 24px;
    }
}